  <div class="row">
    <div class="col-md-8">
      <%= render '/refinery/content_page' %>
    </div>
    <div class="col-md-4">
      <div class="callout-container">
        <div class="callout">
          <a href="/contact-us" class="purple">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            Book a Consultation
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
        <hr>
        <div class="callout">
          <a href="/midwives" class="green">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Meet Our Midwives
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
        <hr>
        <div class="callout">
          <a href="/tour/virtual-tour" class="blue">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Tour Our Facility
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
