  <div class="row">
    <div class="col-md-9">
      <%= render '/refinery/content_page' %>
    </div>
    <div class="col-md-3">
      <div class="callout-container col-md-11">
        <div class="callout">
          <a href="/contact-us" class="purple">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <span class="text">
              Book a<br>Consultation
            </span>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
        <hr>
        <div class="callout">
          <a href="/midwives" class="green">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="text">
              Meet Our<br>Midwives
            </span>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
        <hr>
        <div class="callout">
          <a href="/tour/virtual-tour" class="blue">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <span class="text">
              Tour Our<br>Facility
            </span>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
