  <div class="row">
    <div class="col-md-8">
      <%= render '/refinery/content_page' %>
    </div>
    <div class="col-md-4 callout-container">
      <div class="callout">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <a href="/contact-us">
          Book a Consultation
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
      <div class="callout">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <a href="/midwives">
          Meet Our Midwives
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
