<footer>
  <p class="pull-left">© 2015 Connecticut Childbirth & Women's Center</p>
  <p class="pull-right">
    94 Locust Avenue<br>
    Danbury CT 06810<br>

    <a href="tel:203-748-6000">(203) 748-6000</a>
  </p>

</footer>
