<footer class="footer">
  <p class="footer--contact-information">
    94 Locust Avenue  |  Danbury, CT 06810  |  <a href="tel:203-748-6000">(203) 748-6000</a>
  </p>

  <div style="float: right;">
    <%= link_to(
      image_tag("facebook-logo", class: "footer--facebook-logo"),
      "https://www.facebook.com/ctbirthcenter/",
      target: '_blank'
    ) %>
  </div>
  <div style="float: right; margin-right: 40px; text-align: center;">
    <span style="float:left; font-weight: bold;"> Proud Participant</span>
    <%= link_to(
      image_tag("strong-start2", height: 40, style: "margin: 0 auto"),
      "http://strong-start.org/",
      style: "float: left; clear: both; width: 100%;",
      target: '_blank'
    ) %>
  </div>
  <div style="clear: both;"></div>
</footer>
