<nav class="navbar navbar-static-top row">
  <div class="">
    <div class="navbar-logo">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="col-md-6">
        <%= image_tag("logo", width: 80, style: "float:left;") %>
        <a class="navbar-brand" href="/" style="text-align: center; font-size: 1.5em; margin-left: -30px; line-height: 1.3em;">
          Connecticut Childbirth &<br>Women's Center
        </a>
      </div>
      <div class="col-md-3 col-md-offset-3" style="margin-top: 20px;">
        <a class="btn btn-lg btn-primary pull-right" href="/contact-us" role="button">Schedule a Visit</a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav nav-justified pull-right" style="margin-top: 0.7em;">
        <li><a href="/about-us">About Us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Staff<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/midwives">Midwives</a></li>
            <li><a href="/obstetricians">Consulting Obstetricians</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Office Info<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/office-info/eligibility-and-cost">Eligibility and Cost</a></li>
            <li><a href="/office-info/hospital-affiliation">Hospital Affiliation</a></li>
            <li><a href="/office-info/office-policies">Office Policies</a></li>
            <li><a href="/office-info/forms">Forms</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/services/prenatal-care">Prenatal Care</a></li>
            <li><a href="/services/delivery">Delivery</a></li>
            <li><a href="/services/postpartum">Postpartum</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tour<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tour/photo-gallery">Photo Gallery</a></li>
            <li><a href="/tour/virtual-tour">Virtual Tour</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/patient-resources/classes">Classes</a></li>
            <li><a href="/patient-resources/educational-sites">Educational Sites</a></li>
            <li><a href="/patient-resources/partners-for-birthing-women">Partners for Birthing Women</a></li>
          </ul>
        </li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li><a href="/directions">Directions</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
