

.nav-justified {
  @include media($medium-screen) {
    background-color: $blue;
  }

  border-bottom: 1px solid #e7e7e7;
  @include media($medium-screen) {
    border-bottom: none;
  }

  li {
    line-height: 2em;
    border-right: 1px solid white;

    a {
      margin-bottom: 0;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.dropdown-menu {
  margin: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  text-align: center;

  @include media($medium-screen) {
    width: initial;
    text-align: left;
  }
  li {
    a {
      line-height: 3em;
    }
  }
}
.nav > li > a:active {
  background-color: #93b3ba;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}


.navbar-header {
  width: 100%;
  margin-bottom: 10px;
}

.navbar-default {
  background-color: inherit;
  border: none;

  @include media($medium-screen) {
    margin-bottom: 0;
  }
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand-logo {
  width: 140px;

  @include media($medium-screen) {
    margin-left: 10px;
    width: 200px;
  }
}

.navbar-header {
  width: 100%;
}

.navbar-collapse a {
  color: black;
}

.navbar-toggle {
  margin-top: 20px;
}
