.callout {
  border: 6px solid mistyrose;
  padding: 20px 15px;
  margin-bottom: 15px;
  font-size: 1.9em;
  color: #333;
  border-radius: 15px;
  background-color: whitesmoke;

  a {
    color: slategray;
  }
}

.callout-container {
  margin-top: 5em;
}
