@import 'variables';

.callout {
  padding: 30px 15px;
  margin-bottom: 0px;
  font-size: 1.6em;
  a {
    text-decoration: none !important;
  }
  .glyphicon {
    position: relative;
    top: -18px;
    margin-right:5px;
  }
  .text {
    width: 140px;
  }
}

.callout-container {
  margin: 5em 4em;
  border: 5px solid $offwhite;

  hr {
    margin: 0;
  }

  span {
    display: inline-block;
  }
}

.purple {
  color: darken($purple, 20%) !important;
}

.green {
  color: darken($green, 20%) !important;
}

.blue {
  color: darken($blue, 20%) !important;
}
