/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 */
@import 'bourbon';
@import 'bootstrap-sprockets';
@import "bootstrap";
@import 'variables';
@import "carousel";
@import "sidebar";


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body {
  font-family: 'Open Sans', sans-serif;
  background-color: $offwhite;
}

.container {
  background-color: white;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
}

h1 {
  margin-bottom: 1em;
}

.navbar a {
  color: black;
}

.navbar-brand {
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-static-top {
  margin-bottom: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: darken($blue, 15%);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: darken($blue, 15%);
}

.navbar-logo {
  margin-top: 10px;
}


#body_content, .featurette {
  text-align: justify;
  padding: 0 20px;
}

.btn-primary {
  background-color: $purple;
  color: #fff !important;
  border-color: darken($purple, 15%);
  &:hover {
    background-color: darken($purple, 15%);
    border-color: darken($purple, 15%);
  }
}

#page a {
  color: $dark-blue;
  font-weight: bold;
  text-decoration: underline;
}

.featurette img {
  width: 200px;
  height: 100%;
  margin-top: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.nav-justified {
  background-color: $blue;

  li {
    border-right: 1px solid white;

    &:last-child {
      border-right: none;
    }
  }
}

.dropdown-menu {
  margin: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.testimonials {
  p {
    font-size: 0.9em;
  }

  h3 {
  font-size: 18px;
  }
}

.testimonial-container {
  border: 1px solid $purple;
  background-color: $offwhite;

  .testimonial-photo {
    width: 90px;
    float: right;
    margin-left: 15px;
  }
}

