@import 'bourbon';
@import 'neat';
@import 'bootstrap-sprockets';
@import "bootstrap";
@import 'variables';
@import "carousel";
@import "sidebar";
@import "navigation";
@import "footer";


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body {
  font-family: 'Open Sans', sans-serif;
  background-color: $offwhite;
}

.container {
  background-color: white;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
}

h1 {
  margin-bottom: 1em;
}

.navbar a {
  color: black;
}

.navbar-static-top {
  margin-bottom: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: darken($blue, 15%);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: darken($blue, 15%);
}

.navbar-logo {
  margin-top: 10px;
}


#body_content, .featurette {
  //text-align: justify;
  padding: 0 20px;
}

.btn-primary {
  background-color: $purple;
  color: #fff !important;
  border-color: darken($purple, 15%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 4px;
  &:hover {
    background-color: darken($purple, 15%);
    border-color: darken($purple, 15%);
  }
}

#page a {
  color: $dark-blue;
  font-weight: bold;
}

.featurette img {
  width: 200px;
  height: auto;
  margin-top: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.testimonials {
  margin-top: 10px;

  p {
    font-size: 0.9em;
  }

  h3 {
  font-size: 18px;
  }
}

.testimonial-container {
  background-color: $offwhite;
  padding: 5px 10px;
  margin-bottom: 20px;
  min-height: 170px;

  .featurette-heading {
    color: $dark-purple;
    font-weight: bold;
  }
  .testimonial-photo {
    width: 90px;
    float: right;
    margin-left: 15px;
  }
}

